@charset "UTF-8";

.basewidth {
    width: 980px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    // border-bottom: 1px solid black;
    text-align: center;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

p,
li {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.6px;

}

ul {
    list-style: none;
    display: flex;

}

.header {
    height: 60px;

    .header_sbs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_logo {
            margin: 10px 0 0 85px;

            img {
                width: 120px;
            }
        }

        .header_nav {
            ul {
                margin: 3px 73px 0 0;

                li {
                    margin: 15px;
                }
            }
        }
    }
}

.hero_img_s {
    height: 600px;
    overflow: hidden;

    img {
        margin-top: -340px;
        height: auto;
        width: 100%;
    }
}

.about {

    margin-top: 85px;

    h2 {
        margin-bottom: 70px
    }

    // p {//     margin-top: ;
    // }
}

.about_sbs {
    display: flex;
    // justify-content: space-around;
    width: 530px;
    margin: 0 auto;
    // width: ;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        // padding-right: ;
    }

    .about_txt {
        margin-left: 20px;

        h4 {
            margin-top: 2px;
            margin-left: 12px;
            margin-bottom: 10px;
        }

        p {
            margin: 0 -5px 0px 11px;
        }
    }
}

.bicycle {
    margin-top: 100px;
    margin-bottom: 100px;

    .contents_item_sbs {
        display: flex;
        justify-content: center;

        .contents_item {
            width: 260px;
            margin: 60px 7px 0;

            img {
                width: 100%;
                height: auto;
            }

            .contents_text {
                text-align: center;
                margin-top: 10px;

                p {
                    margin-top: 10px;
                }
            }
        }
    }

}

.footer {
    height: 30px;
    padding: 8px;
    text-align: center;

    p {
        font-size: 9px;
    }
}